<!DOCTYPE html>
<html lang="fr">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form method="get" action='/login'>
            <label>ID：<input type="text" name="id" value="">
            </label><br>
            <label>PASSWORD：<input type="password" name="password" value=""></label><br>
	        <input type="submit" value="LOGIN"><br>
	    </form>
        
        <form method='get' action="/register">
            <input type="submit" value="INSCRIPTON"><br>
        </form> 

        <form method='get',action="/buy">
            <input type="submit" value="BUY TOTP"><br>    
        </form>   
        
        
    </body>
</html>
