<!DOCTYPE html>
<html lang="fr">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form method="get" action='/totp-buyed'>
	    <label>ID  ：<input type="text" name="id" value=""></label><br>
	    <label>PASSWORD：<input type="password" name="passwd" value=""></label><br>
        <input type="submit" value="BUY TOTP">
        </form>
    </body>
</html>
